* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p,
a,
li,
label {
    font-size: 14px;
    font-weight: 350;
    color: rgb(36, 36, 36);
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle
}

img {
    width: 90px;
    height: auto;
    padding-top: 30px;
}

#containerLogin {
    text-align: left;
    border: 1px solid;
    border-style: groove;
    width: 340px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

#containerCadastro {
    text-align: left;
    border: 1px solid;
    border-style: groove;
    width: 400px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}

body h1 {
    margin: 20px 0px;
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 350;
    color: rgb(36, 36, 36);
}

#formLogin ul li input {
    margin-top: 8px;
    width: calc(100% - 14px);
    padding: 4px 6px;
    border: 1px solid;
    border-style: groove;
}

#formCadastro ul li input {
    margin-top: 8px;
    width: calc(100% - 14px);
    padding: 4px 6px;
    border: 1px solid;
    border-style: groove;
}

#formLogin ul li {
    margin-top: 10px;
    padding-top: 10px;
}

#formCadastro ul li {
    margin-top: 10px;
    padding-top: 5px;
}

#formLogin {
    margin: 20px 30px;
}

#formCadastro {
    margin: 20px 30px;
}

#containerLogin #checkbox {
    margin-left: 30px;
    cursor: pointer;
}

#containerCadastro #checkbox {
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 30px;
}

#containerLogin #button-entrar {
    background-color: rgb(85, 121, 145);
    border: none;
    margin: 25px 0 10px 0;
    width: calc(100% - 150px);
    padding: 8px;
    cursor: pointer;
    color: white;
}

#containerLogin #forgot-password {
    margin: 5px 0px;
    padding: 10px 0 20px 0;
}

#button-cadastro {
    background-color: rgb(85, 121, 145);
    border: none;
    margin: 25px 0 10px 0;
    width: 190px;
    padding: 8px;
    cursor: pointer;
    color: white;
}

#button-cadastrar {
    background-color: rgb(85, 121, 145);
    border: none;
    margin: 10px 0px 10px 8px;
    width: 190px;
    padding: 8px;
    cursor: pointer;
    color: white;
}

#button-limpar {
    background-color: rgb(138, 172, 194);
    border: none;
    margin: 10px 8px 10px 0px;
    width: 190px;
    padding: 8px;
    cursor: pointer;
    color: white;
}

.g-recaptcha {
    margin: 30px 0;
}

#termos {
    color: rgb(85, 121, 145);
}

#conta {
    margin: 10px 0 30px 0;
}

#conta a {
    color: rgb(85, 121, 145);
}


/* Hover */

#containerLogin #button-entrar:hover {
    background-color: rgb(71, 101, 119);
}

#button-limpar:hover {
    background-color: rgb(117, 146, 165);
}

#button-cadastrar:hover {
    background-color: rgb(71, 101, 119);
}

#containerLogin #forgot-password a:hover {
    color: rgb(95, 95, 95);
}

#button-cadastro:hover {
    background-color: rgb(71, 101, 119);
}

#termos:hover {
    color: rgb(71, 101, 119);
}

#conta a:hover {
    color: rgb(71, 101, 119);
}

.semErro {
    display: none;
}

.erro {
    color: red;
}

.click,
.popup_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.click {
    background: #2981bc;
    color: white;
    font-size: 22px;
    font-family: arial;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #0059b3;
}

.popup_box {
    width: 400px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    z-index: 9999;
    display: none;
}

.popup_box i {
    font-size: 60px;
    color: #eb9447;
    border: 5px solid #eb9447;
    padding: 20px 40px;
    border-radius: 50%;
    margin: -10px 0 20px 0;
}

.popup_box h1 {
    font-size: 30px;
    color: #1b2631;
    margin-bottom: 5px;
}

.popup_box label {
    font-size: 23px;
    color: #404040;
}

.popup_box .btns {
    margin: 40px 0 0 0;
}

.btns .btn1,
.btns .btn2 {
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 13px;
}

.btns .btn2 {
    margin-left: 20px;
    background: green;
    border: 1px solid green;
}

.btns .btn1:hover {
    transition: .5s;
    background: red;
}

.btns .btn2:hover {
    transition: .5s;
    background: green;
}

.btns .btn1 {
    margin-left: 20px;
    background: red;
    border: 1px solid red;
}